rules_version = '2';

// Craft rules based on data in your Firestore database
service firebase.storage {
  match /b/{bucket}/o {
    match /public/albums/{albumImageId} {
      allow read;
      allow write: if false;
    }

    match /public/mp3s/{uploadId} {
      allow read;
      allow write: if false;
    }
  }
}
